# dirs
.svn/
bin/
obj/
info/
Lib/
new_2_cmp/
_MC_description/
nuclei/
debug/
release/

# IDE files and binary
*.[oa]
*.def
*.depend
*.dll
*.so
*.exe
*.il?
*.layout
*.lib
*.obj
AddComment*.py
RemoveComment*.py
*.res
*.save
*.svn
*.tds
*.slo
*.lo

# other files
*.7z
*.cnf
*.din
*.efr
*.git*
*.in
*.ini
*.jpg
*.log
*.out
*.spe
*.txt
!CMakeLists.txt
*.udl

# Prerequisites
*.d
